<md-dialog layout="column" flex="50" aria-label="dialog temp_pay">
  <form role="form" name="thisForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="autoScroll" style="max-width:800px;max-height:810px;">
      <div layout="row">
        <md-input-container flex="100">
          <label>Temporary Employee Name</label>
          <input required name="name" ng-model="emp_pay.name" />
          <div ng-messages="thisForm.name.$error">
            <div ng-message="required">required.</div>
          </div>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container flex="30">
          <label>Payment Amount</label>
          <input required name="pay_amount" ng-model="emp_pay.pay_amount" />
          <div ng-messages="thisForm.pay_amount.$error">
            <div ng-message="required">required.</div>
            <div ng-message='minlength'>min length 10.</div>
          </div>
        </md-input-container>
        <md-input-container flex="40">
          <label> Payment Date(dd-mm-yyyy format)</label>
          <input name="paydate" ng-model="emp_pay.date" datetime-picker date-format="dd-mm-yyyy" date-only required
            onkeydown="return !(event.keyCode==13)" class="datepicker-layout" />
          <div ng-messages="thisForm.paydate.$error">
            <div ng-message='required'>required.</div>
            <div ng-message='pattern'>Enter a Valid Date. (dd-mm-yyyy format)</div>
          </div>
        </md-input-container>
        <md-input-container flex="30">
          <label>State</label>
          <input required name="state" ng-model="emp_pay.state" />
          <div ng-messages="thisForm.state.$error">
            <div ng-message="required">required.</div>
            <div ng-message='minlength'>min length 10.</div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>
    <div class="md-actions md-padding" layout="row">
      <span flex></span>
      <md-button class="md-warn" ng-click="hide()">
        CANCEL
      </md-button>
      <md-button ng-disabled="isClean() || thisForm.$invalid" ng-click="submit(emp_pay)" style="margin-right:20px;">
        {{buttonText}}
      </md-button>
    </div>
  </form>
</md-dialog>