<div class="row">
  <div class="col-lg-3 col-md-6">
    <a href="#report_sale">
      <div class="panel panel-mypanel4">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-4">
              <h4>Today Sales</h4>
            </div>
            <div class="col-xs-8 text-right">
              <h1> {{todaysales}}</h1>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6">
    <a href="#report">
      <div class="panel panel-mypanel5">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-4">
              <h4>Today Profit</h4>
            </div>
            <div class="col-xs-8 text-right">
              <h1> {{todayprofit}}</h1>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6">
    <a href="#employee_attendance">
      <div class="panel panel-mypanel6">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-5">
              <h4>Today Attendance</h4>
            </div>
            <div class="col-xs-5 text-right">
              <h1> {{absent}}</h1>
            </div>
            <div class="col-xs-2 text-right percent">
              <h2 style="margin-top:35px;">%</h2>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6">
    <a href="#booking_list">
      <div class="panel panel-mypanel7">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-4">
              <h4>Tomorrow Predition</h4>
            </div>
            <div class="col-xs-8 text-right">
              <h1>888</h1>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<md-card class="md-whiteframe-1dp md-padding">
  <div class="row">
    <div class="col-lg-6 col-md-6" id='attendance'>
    </div>
    <div class="col-lg-6 col-md-6" id='stock'>
    </div>
  </div>
</md-card>
<md-card class="md-whiteframe-1dp md-padding">
  <div class="row">
    <div class="col-lg-6 col-md-6" id='price'>
    </div>
    <div class="col-lg-6 col-md-6" id='product'>
    </div>
  </div>
</md-card>