<md-card class="md-whiteframe-1dp md-padding">
  <form role="form" name="thisForm">
    <div layout="row">
      <md-input-container flex="5">
      </md-input-container>
      <md-input-container flex="50">
        <label>Profile Name</label>
        <input required name="profile_name" type="text" ng-model="userdata.profile_name" />
        <div ng-messages="thisForm.profile_name.$error">
          <div ng-message="required">required.</div>
        </div>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container flex="5">
      </md-input-container>
      <md-input-container flex="40">
        <label>User Name</label>
        <input required name="username" type="text" ng-model="userdata.username" />
        <div ng-messages="thisForm.username.$error">
          <div ng-message="required">required.</div>
          <!-- <div ng-message="validationError">username is duplicated</div> -->
        </div>
      </md-input-container>
      <md-input-container flex="10">
      </md-input-container>
      <md-input-container flex="40">
        <label>Password</label>
        <input required name="password" type="password" ng-model="userdata.password" />
        <div ng-messages="thisForm.password.$error">
          <div ng-message="required">required.</div>
        </div>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container flex="5">
      </md-input-container>
      <md-input-container flex="40">
        <label>Contact</label>
        <input required minlength="10" maxlength="11" type="number" name="contact" ng-model="userdata.contact" />
        <div ng-messages="thisForm.contact.$error">
          <div ng-message="required">required.</div>
          <div ng-message='minlength'>min length 10.</div>
          <div ng-message='type'>this field should be number</div>
        </div>
      </md-input-container>
      <md-input-container flex="10">
      </md-input-container>
      <md-input-container flex="40">
        <label>Email</label>
        <input required name="email" type="email" ng-model="userdata.email" />
        <div ng-messages="thisForm.email.$error">
          <div ng-message="required">required.</div>
          <div ng-message='type'>Enter Valid Email.</div>
        </div>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container flex="5">
      </md-input-container>
      <md-input-container flex="90">
        <label>Address</label>
        <input required name="address" type="text" ng-model="userdata.address" />
        <div ng-messages="thisForm.address.$error">
          <div ng-message="required">required.</div>
          <div ng-message='minlength'>min length 5</div>
        </div>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container flex="100">
        <input type="hidden" />
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container flex="5">
      </md-input-container>
      <md-input-container flex="90">
        <fieldset>
          <legend>Active Pages</legend>
          <div layout="row" layout-wrap flex>
            <div flex="25" ng-repeat="page in pages">
              <md-checkbox ng-checked="exists(page.page_name, permission)" ng-click="toggle(page.page_name, permission)" ng-style="{ color:'#d84315'}">
                {{page.page_name}}
              </md-checkbox>
            </div>
          </div>
        </fieldset>
      </md-input-container>
    </div>
    <div layout="row" style="float: right;">
      <md-input-container>
        <md-button ng-disabled="thisForm.$invalid" ng-click="submit(userdata)" class="md-raised md-accent" style="background:#00800070; color:white;">
          UPDATE
        </md-button>
      </md-input-container>
    </div>
  </form>
</md-card>